@media ( min-width : 768px) {
	#sideNav {
		text-align: center;
		position: fixed;
		top: 0;
		left: 0;
		display: flex;
		flex-direction: column;
		width: 15rem;
		height: 100vh;
	}
	#sideNav .navbar-brand {
		display: flex;
		margin: auto auto 0;
		padding: 0.5rem;
	}
	#sideNav .navbar-brand .img-profile {
		max-width: 10rem;
		max-height: 10rem;
		border: 0.5rem solid rgba(255, 255, 255, 0.2);
	}
	#sideNav .navbar-collapse {
		display: flex;
		align-items: flex-start;
		flex-grow: 0;
		width: 100%;
		margin-bottom: auto;
	}
	#sideNav .navbar-collapse .navbar-nav {
		flex-direction: column;
		width: 100%;
	}
	#sideNav .navbar-collapse .navbar-nav .nav-item {
		display: block;
	}
	#sideNav .navbar-collapse .navbar-nav .nav-item .nav-link {
		display: block;
	}
	.container {
		padding-left: 17rem !important;
	}
	#sideNav {
		background-image: linear-gradient(to bottom, rgb(108, 89, 160),
			rgb(147, 116, 206), rgb(75, 95, 189));
	}
	#sideNav a {
		color: aliceblue !important;
	}
}